.LeftSide_body {
    width: 250px;
    background-color: #f4f4f4;
  }
  
  .menuToggleButton {
    margin-bottom: 15px;
  }
  
  .menuContent {
    padding: 10px;
  }
  
  .selectableUser {
    padding: 10px;
    cursor: pointer;
    border: 1px solid transparent;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  .selectableUser:hover {
    border: 1px solid #3f51b5;
    background-color: #daa9a9;
  }
  
  .selectableUser.selected {
    background-color: #d1e1f1; 
  }
  .selectableUser.selected{
    border: 1px solid transparent;
    background-color: #076ec2;
  }
  