.banner {
    background: url("https://via.placeholder.com/1500x500") no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
    background-color: rgb(69, 173, 150);
    border: .5rem rgb(69, 173, 204) groove;
  }
  
  .banner h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .banner p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .cta-button {
    background-color: #ff6f61;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .cta-button:hover {
    background-color: #ff3d2f;
  }
  